*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    overflow: hidden;
}
#page-title {
    display: flex;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    color:mediumblue;
}
.main_container {
    /* background-color: lightgrey; */
    display: flex;
    /* flex-direction: row; default is row */
    height: 95vh;
    /* overflow: hidden; */
    /* justify-content:flex-start; main axis alignment */
    /* align-items:center; cross-axis alignment */
    /* flex-wrap: nowrap; default is nowrap */
}

.counselor_column {
    display: flex;
    flex-direction: column; /* default is row */
}
.student_column {
    display: flex;
    flex-direction: column; /* default is row */
}
.student_info_general_container {
    display: flex;
    flex-direction: column;
    border:1px solid #000;
    font-family:arial;
    min-width: 400px;
    max-width: 750px;
    /* min-height: 200px; */
    /* background-color: linen; */
}


.counselor_list_container {
    border:1px solid #000;
    font-family:arial;
    height:100%;
    overflow:hidden;
    width:180px;
}
#counselor_list_item_container {
    list-style:none;
    max-height:100%;
    margin:0;
    overflow:auto;
    padding:0;
    padding-bottom: 24px;
    text-indent:10px;
}
/* #counselor_list_item_container li:nth-child(even){
    background: #ccc;
} */
.counselor_totals_container {
    border:1px solid #000;
    font-family:arial;
    /* height:326px; */
    width:180px;
    /* margin-bottom: 10px; */
}
#counselor_totals_item_container {
    /* list-style:none; */
    /* max-height:100%; */
    height: 198px;
    margin:0;
    overflow:hidden;
    padding:0;
    text-indent:10px;
}
#counselor_totals_item_container li {
    padding: 4px;;
    line-height:20px;
}
.student_list_container {
    border:1px solid #000;
    font-family:arial;
    /* height:350px; */
    height:100%;
    overflow: hidden;
    width:180px;
}
#student_list_item_container {
    list-style:none;
    /* max-height:350px; */
    max-height:100%;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
    padding-bottom: 24px;
}
/* #student_list_item_container li:nth-child(even){
    background: #ccc;
} */
li {
    line-height: 25px;
}


.student_radios_container {
    border:1px solid #000;
    font-family:arial;
    /* height: 350px; */
    width:180px;
    /* margin-bottom: 10px; */
}

#student_sort_options_container {
    /* border:1px solid #000; */
    font-family:arial;
    height: 90px;
    /* width:160px; */
}  
#student_sort_options_container input[type="radio"]:checked ~ * {
    color: red;
  }

#student_filter_options_container {
    /* border:1px solid #000; */
    /* font-family:arial; */
    height:130px;
    /* width:160px; */
}
#student_filter_options_container input[type="radio"]:checked ~ * { 
    color:red;
}

/* ALL TITLE AREAS USE THIS FORMATTING */
.title_area {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    height: 22px;
    vertical-align: middle;
    padding-top: 1px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
}


/* Student Data Panel */
.student_top_container {
    list-style:none;
    margin:0;
    padding:0;
    /* text-indent:10px; */
    /* background-color:antiquewhite; */
}

.student-info-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 20px;
}
.grid-item {
    height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    text-indent: 10px;
}
.grid-item-data {
    height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}
.studentdata-dropdown-options {
    /* margin: 5px 0px 5px 0px; */
    font-size: 20px;
    margin-top: 5px;
    width: 90%;
    height: 40px;
}

/* STUDENT SUMMARY AND ANNUAL COURSES TABS */
.table-outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: 100%;
    height: fit-content;
    /* height: calc(45vh - 20% + 70px); */
    /* background-color: blueviolet; */
    height: 350px;
}
.content-pane {
    max-height: 88%;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 20px;
    /* background-color: chartreuse; */
    scroll-snap-type: y mandatory;
    /* height: 250px; */
    /* height: calc(45vh - 10%); */
    /* height: calc(80%); */
    /* max-width: fit-content; */
    text-align: center;
    /* background-color: red; */
}
/* .content-pane {
    /* position: relative; */
    /* position: absolute; */
    /* top: 50px; */
    /* left: 20px; */
    /* background: white; */
    /* background: magenta; */
    /* border: 1px solid #ccc; */
    /* font-size: 1.1rem; */
    /* } */
/* caption {
    border: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    background-color: bisque;
} */
  
/* Dropdown selector */
.dropdown-wrapper {
    background-color: #fff;
    /* background-color: aqua; */
    width:96%;
    margin-top: 10px;
    margin-left: 10px;
}

#dropdown-options {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 1px;
    background-color: red;
    /* background-color:rgb(232, 232, 232); */
    color: #fff;
    /* color: black; */
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    min-width:fit-content;
    text-align: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}

/* .custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 4%;
} */

.custom-select {
    /* background-color: green; */
    /* position: relative; */
    /* margin-top: 100px; */
}

/* option:checked .content {
    z-index: 1;
} */


/* SUMMARY TABLE */
table {
    display: block;
    /* height: 100%; */
    /* overflow-y: scroll; */
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0;
    /* border: 2px solid rgb(140 140 140); */
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    /* min-width:max-content;  this will stop text wrapping in each table cell */
    /* max-height: fit-content; */
    /* border: 0.5px solid rgb(160 160 160); */
}

#gradreq_table {
    /* background-color: red; */
    /* height: 100%; */
}

thead {
    position: sticky;
    top: 0px;
    background-color: rgb(228 240 245);
}
.stickyRow-credits { /* for the credits row in the table */
    position: sticky;
    top: 32px;
    background-color: rgb(255,255,255,255);
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
}


caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    /* border: 0.5px solid rgb(160 160 160); */
    padding: 7px 9px;
    text-align: center;
  }
  th {
    border: 0.5px solid rgb(160 160 160);
  }
  
  td:last-of-type {
    text-align: center;
  }

  .table-item-left-justify {
    text-align: left;
  }
    
  /* table tr {
    scroll-snap-align: start;
  } */
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  tr td {
    border: 0.5px solid rgb(160 160 160);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }


  #csv-student-button {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(50,150,200);
    color: white;
  }

  #freshman-content,
  #sophomore-content,
  #junior-content,
  #senior-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    text-align: center;
    /* background-color: #eee; */
    font-size: 1.2rem;
    /* font-weight: bold; */
  }


  /* THE STUDENTS LIST ITEMS */

  .gradrequirement-warning {
    color: red;
  }
  .creditsLow-warning {
    color: yellow;
  }
  .gradrequirement-met {
    color: green;
  }
  .gradrequirement-override {
    color: rgb(42, 72, 223);
  }

  /* SELECTING ITEMS FROM THE LISTS */
  #counselor_list_item_container .selected_counselor {
    background: #3263eb;
    color:white;
  }
  /* #student_list_item_container .selected_student {
    background: lightskyblue;
  } */
  .student-container.creditsLow-warning.selected_student {
    background: yellow;
    color: white
  }
  .student-container.gradrequirement-warning.selected_student {
    background: red;
    color: white
  }
  .student-container.gradrequirement-met.selected_student {
    background: green;
    color: white
  }
  .student-container.gradrequirement-override.selected_student {
    background: rgb(42, 72, 223);
    color: white
  }

  .hidden_row > td {
    color: black;
    font-size: 14px;
    border: none;
    text-align: left;
    padding-left: 32px;
  }
  .totalsPanel_year.selected_year {
    color: red;
  }
